@import "fonts.scss";
@import "variables.scss";
@import 'primeflex/primeflex.scss';

$inputBorder: 4px solid #fff;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-semi-dark-color);
  border-radius: 20px;
  border: 2px solid white;
}

$custom-translate-props: (
  'translate-x-50': 'translateX(50%)',
  '-translate-x-50': 'translateX(-30%)',
);

$additional-text-colors: (
  text-primary-dark: var(--primary-dark-color),
  text-primary-semi-dark: var(--primary-semi-dark-color),
);

$additional-bg-colors: (
  bg-primary-dark: var(--primary-dark-color),
  bg-primary-light: var(--primary-light-color),
);

@include style-class('background-color', $additional-bg-colors, true);
@include style-class('color', $additional-text-colors, true);

@include style-class('transform', $custom-translate-props, true);

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.blur {
  filter: blur(8px);
}

.p-inputtext, .p-dropdown {
  border: none;
  border-bottom: 0.15rem solid #D3DFE7;
}

.p-inputtext:not(:focus), .p-dropdown:not(.p-inputwrapper-focus) {
  border-radius: 0;
}

.p-button:hover {
  background-color: var(--primary-semi-dark-color) !important;
  border-color: var(--primary-semi-dark-color) !important;
}

.p-button, .p-selectbutton .p-button.p-highlight {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}