@import "fonts.scss";
@import "variables.scss";
$inputBorder: 4px solid #fff;

body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.blur {
  filter: blur(8px);
}

.p-inputtext {
  border: none;
  border-bottom: 0.15rem solid #D3DFE7;
}

.p-button {
  background-color: var(--primary-color);
}